<!DOCTYPE html>
<html lang="en" style="--vh: 7.07px;">

<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16722851919"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-16722851919');
</script>
<!-- Event snippet for bre conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
function gtag_report_conversion(url) {
  var callback = function () {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  };
  gtag('event', 'conversion', {
      'send_to': 'AW-16722851919/IlwJCPjlwNgZEM_wiaY-',
      'event_callback': callback
  });
  return false;
}
</script>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Cache-Control" content="NO-CACHE">
  <title>להרוויח כסף | צפו בסרטונים</title>
  <link rel="shortcut icon" type="image/x-icon"
    href="https://cdn-f.heylink.me/static/img/favicon_dark.ico?v=57dc9a329e398e1c22081435ec330d39">
  <link rel="icon" type="image/x-icon"
    href="https://cdn-f.heylink.me/static/img/favicon_dark.ico?v=57dc9a329e398e1c22081435ec330d39">
  <link rel="shortcut icon" type="image/x-icon"
    href="https://cdn-f.heylink.me/static/img/favicon_dark.ico?v=57dc9a329e398e1c22081435ec330d39">
  <link rel="icon" type="image/x-icon"
    href="https://cdn-f.heylink.me/static/img/favicon_dark.ico?v=57dc9a329e398e1c22081435ec330d39">

  <noscript>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap">
  </noscript>

  <script type="text/javascript" src="lozad.min.js"></script>
  <!--<link rel="stylesheet" href="slick.min.css"> -->
  <link rel="stylesheet" href="slick-theme.min.css">
  <link rel="stylesheet" type="text/css" href="style.min.css">
  <link rel="stylesheet" type="text/css" href="style.min_2.css">
  <link rel="stylesheet" type="text/css" href="style.min_3.css">
  <link rel="stylesheet" type="text/css" href="style.min_4.css">

  <script>
    document.addEventListener("DOMContentLoaded", function () {
  
      function getCid(name) {
          const value = `; ${document.cookie}`;
          const parts = value.split(`; ${name}=`);
          if (parts.length === 2) {
              const fullCookieValue = parts.pop().split(';').shift();
              const cidValue = fullCookieValue.split('.')[2] + '.' + fullCookieValue.split('.')[3];
              return cidValue;
          }
          return null;
      }
  
      const cid = getCid('_ga');
  
      // Получаем все кнопки с атрибутом onclick
      var buttons = document.querySelectorAll('[onclick^="return gtag_report_conversion"]');
  
      // Перебираем каждую кнопку
      buttons.forEach(function (button) {
        // Получаем текущее значение атрибута onclick
        var currentOnClick = button.getAttribute('onclick');
  
        // Извлекаем параметры из текущей ссылки
        var urlParams = new URLSearchParams(window.location.search);
        var keywordParam = urlParams.get('utm_term');
        var gclidParam = urlParams.get('gclid');
  
        // Формируем новую ссылку с параметрами
        var newOnClick = "return gtag_report_conversion('https://mistake-remastering.click/n9tTYC9X?" + "utm_term=" + keywordParam + "&gclid=" + gclidParam + "&cid=" + cid + "')";
  
        // Заменяем текущее значение атрибута onclick новым
        button.setAttribute('onclick', newOnClick);
      });
    });
  </script>


</head>

<body style="overflow-y: auto;">

  <div class="content-wrapper" style="min-height: 197.5px;">
    <section class="earn-header-section">
      <div class="container">
        <div class="info-wrapper">
          <div class="text-wrapper">
            <div class="title">
              צפה בסרטונים בטלגרם שלנו והרוויח כסף! פשוט הירשם, צפה בסרטונים ו
              אתה מקבל תשלום עבור כל צפייה.
            </div>
            <div class="text">
              האם אתה מוכן לזרם חדש של הכנסה? הצטרף לטלגרם שלנו והתחיל להרוויח כסף על ידי צפייה
              סרטונים מהמפרסמים שלנו. שלבו את הנעים עם השימושי והתחילו להרוויח עוד היום!
              להתחיל להרוויח היום!
            </div>


            <div class="buttons-wrapper ">


              <button class="btn primary-orange-btn" onclick="return gtag_report_conversion('https://mistake-remastering.click/n9tTYC9X')"> 
                להתחיל להרוויח
              </button>


              <a class="btn-link" target="_blank">

              </a>
            </div>
          </div>
          <div class="image-wrapper">
            <img class="lozad" alt="header image" src="1.png" data-loaded="true">
          </div>
        </div>
      </div>
    </section>
    <section class="earn-calculator">
      <div class="container">
        <div class="calc">
          <div class="calc-title">
            כמה אני יכול למשוך?
          </div>

          <div>
            <div class="site-wrapper">
              <div class="site-content">
                <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

                <main class="main page" id="app">
                  <section class="page__row">

                    <form name="waitlist" method="post" class="form">

                      <div class="form__slider form__item">
                        <div class="form__slider-row">
                          <div class="form__slider-value"> <span v-if="views == 1000000">1M</span>
                            <span v-else-if="views > 1000000"></span>
                            <span v-else>${views}</span>וִידֵאוֹ
                          </div>
                          <div class="form__slider-label"></div>
                        </div>
                      </div>
                      <vue-slider v-model="views" :data="data" ref="avg_views" v-bind="viewsOpts" class="form__item">
                      </vue-slider>
                      <input type="hidden" id="waitlist_avg_views" name="waitlist[avg_views]" v-model="views" />
                      <div class="form__slider-row form__item">
                        <div class="form__totalprice"> <span>€</span>${totalPrice}</div>
                        <div class="form__slider-label"></div>
                      </div>
                      <div class="buttons-wrapper">
                        <button class="btn primary-orange-btn" onclick="return gtag_report_conversion('https://mistake-remastering.click/n9tTYC9X')">
                          להתחיל להרוויח
                        </button>

                      </div>
                      <input type="hidden" id="waitlist__token" name="waitlist[_token]"
                        value="0d5683b34e2bab00eef14.tP7PHMDM0WsGdYq04A5R_QWD9ggjNO7WqCdV7NkBcog.wrvibYeZohJjJLuHr0conHDIhGNVTbmM6xQSmJJyF8_Nyppa9YuyDH486Q" />
                    </form>

              </div>
            </div>
          </div>
    </section>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/vue-slider-component@3.2.11/dist/vue-slider-component.umd.min.js"></script>
    <script>
      new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        components: {
          'vueSlider': window['vue-slider-component'],
        },
        data() {
          return {
            data: [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              20,
              30,
              40,
              50,
              60,
              70,
              80,
              90,
              100,
              200,
              300,
              400,
              500
            ],
            views: 1
          }
        },
        computed: {
          totalPrice() {
            if (this.views === 1000001) {
              return '>3500'
            }
            return (this.views || 1) * 2;
          },
        },
      })
    </script>
  </div>
  </div>
  </div>
  </div>

  </div>
  </div>
  </section>
  <section class="earn-money-guide">
    <div class="container">
      <div class="guide-wrapper-line">
        <img class="lozad" data-src="https://cdn-f.heylink.me/static/img/earn-money-page/img_earn_guide_1.svg" alt="">
        <div class="text-wrapper">
          <div class="guide-title">
            איך אני יכול להרוויח כסף?
          </div>
          <div class="guide-text">
            צפה בסרטונים מ- TikTok ישירות בטלגרם שלנו. פשוט הירשם לטלגרם שלנו, עקוב אחר מעניין
            סרטונים מעניינים ולהרוויח על כל צפייה.
          </div>
        </div>
      </div>
      <div class="guide-wrapper-line">
        <div class="text-wrapper">
          <div class="guide-title">
            איך זה עובד?
          </div>
          <div class="guide-text">
            ערוץ הטלגרם שלנו מציע ליוצרי סרטוני TikTok דרך ייחודית לקדם את הסרטונים שלהם. זה כן
            הם יכולים לשלם כדי שהסרטונים שלהם יוצגו בבוט שלנו כדי להגיע לקהל גדול יותר. משתמשים
            הצופים, בתורם, צופים בסרטונים האלה ומתוגמלים עבור הצפיות ששילמו יוצרי הסרטון.
            יוצרי וידאו מקבלים תשלום על ידי יוצרי וידאו. אז אתה מרוויח עבור הצפיות שיוצרי סרטונים משלמים עבור המודעות שלהם.
            למודעות שלהם.
          </div>
        </div>
        <img class="lozad" data-src="https://cdn-f.heylink.me/static/img/earn-money-page/img_earn_guide_2.svg" alt="">
      </div>
      <div class="first-banner">
        <img class="lozad" data-src="https://cdn-f.heylink.me/static/img/earn-money-page/first_banner_img.svg"
          alt="banner">
        <div class="info-wrapper">
          <div class="banner-title">
            האם אתה מוכן לייצר הכנסה במהירות וביעילות?
          </div>
          <button class="btn primary-orange-btn" onclick="return gtag_report_conversion('https://mistake-remastering.click/n9tTYC9X')">
            להתחיל להרוויח
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="earn-money-advantages">
    <div class="container">

    </div>
  </section>
  <section class="earn-second-banner">
    <div class="container">
      <div class="second-banner">
        <div class="info-wrapper">
          <div class="banner-title">
            יוצרי תוכן פונים אלינו כדי להגדיל את הצפיות בסרטונים
          </div>
          <button class="btn primary-orange-btn" onclick="return gtag_report_conversion('https://mistake-remastering.click/n9tTYC9X')">
            להתחיל להרוויח
          </button>
        </div>
        <img class="lozad" src="2.png" alt="banner">
      </div>
    </div>
  </section>
  </div>
  <footer>
    <div class="footer-wrapper ">
      <div class="container">
        <div class="footer">
          <div class="columns-wrapper">
            <div class="column">

              <div class="column">

                <div class="social-links-wrapper">

                  <button style="background-color: #ef685900; border: solid 0px;" onclick="return gtag_report_conversion('https://mistake-remastering.click/n9tTYC9X')">
                    <img style="width: 50px;" class="lozad"
                      data-src="https://cdn-icons-png.flaticon.com/512/5968/5968804.png" alt="social link icon">
                  </button>
                </div>

              </div>
            </div>
            <div class="column" style="padding-bottom: 10px; padding-top: 10px; ">
              <span>Yehuda Burla St 41, Tel Aviv-Yafo, 6936459</span> <br>
              <span>+972526742411</span> <br>
              <span>il.videoads@gmail.com</span> <br>
              <a href="policy.html" style="color: #3682db; text-decoration: none;">מדיניות פרטיות</a> <br>
              <a href="disclaimer.html" style="color: #3682db; text-decoration: none;">תנאי שימוש</a>
            </div>


            </div>
          </div>

        </div>

      </div>
  </footer>

  <style>
    .div1 {
      height: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #stickyButton {
      position: fixed;
      bottom: 20px;
      padding: 15px 80px;
      background-color: #259e25;
      font-size: 20px;
      color: rgb(255, 255, 255);
      border: none;
      border-radius: 25px;
      cursor: pointer;
      display: none;
      animation: pulse 1s infinite alternate;
      font-weight: bolder;
      text-decoration: none;
    }

    #stickyButton.show {
      display: block;
    }

    @keyframes pulse {
      0% {
        transform: scale(1);
      }

      100% {
        transform: scale(1.1);
      }
    }
  </style>
  <div class="div1">
    <button id="stickyButton" onclick="return gtag_report_conversion('https://mistake-remastering.click/n9tTYC9X')">להתחיל להרוויח</button>
  </div>


  <script>
    window.addEventListener('scroll', scrollFunction);

    function scrollFunction() {
      var button = document.getElementById("stickyButton");
      if (window.scrollY > 20) {
        button.classList.add("show");
      } else {
        button.classList.remove("show");
      }
    }
  </script>


  <script type="text/javascript">
    const observer = window.lozad();
    observer.observe();
  </script>


</body>

</html>